{% extends 'base.html' %}
{% block title %}天天生鲜-商品详情{% endblock %}

{% block gouwuche %}
	<div class="guest_cart fr">
		<a href="#" class="cart_name fl">我的购物车</a>
		<div class="goods_count fl">1</div>
	</div>
{% endblock %}
{% block head %}
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
{%endblock%}

{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="typelist_1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="typelist_2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="typelist_3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="typelist_4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="typelist_5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="typelist_6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods">全部分类</a>
		<span>></span>
		<a href="typelist_{{g.gtype_id}}_1_1">{{gtype}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img style="width: 350px; height: 350px" src="/static/{{g.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{g.gtitle}}</h3>
			<p>{{g.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{g.gprice}}</em></span>
				<span class="show_unit">单  位：{{g.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>***</em></div>
			<div class="operate_btn">
				{%if request.session.user_name|default:"" != "" %}}
					<a href="javascript:;" class="buy_btn">立即购买</a>
				{% else %}
					<a href="/user/login" class="buy_btn">立即购买</a>
				{%endif%}
				{%if request.session.user_name|default:"" != "" %}}
					<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
				{% else %}
					<a href="/user/login" class="add_cart">加入购物车</a>
				{%endif%}
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for g in newlist %}
					<li>
						<a href="/goods/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
						<h4><a href="#">{{g.gtitle|slice:'10'}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{g.gcontent|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>

<div class="add_jump"></div>

{% endblock %}


	
