{% extends 'base.html' %}
{% block title %}天天生鲜-商品列表{% endblock %}

{% block gouwuche %}
	<div class="guest_cart fr">
		<a href="#" class="cart_name fl">我的购物车</a>
		<div class="goods_count fl">1</div>
	</div>
{% endblock %}

{% block body %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="typelist_1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="typelist_2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="typelist_3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="typelist_4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="typelist_5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="typelist_6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods">全部分类</a>
		<span>></span>
		<a href="#">{{gtype}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for g in newlist %}
					<li>
						<a href="/goods/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
						<h4><a href="#">{{g.gtitle|slice:'10'}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="typelist_{{typeid}}_1_1"
				    {% if sort == '1' %}
				    class="active"
					{% endif %}
					>默认</a>
				<a href="typelist_{{typeid}}_1_2"
				    {% if sort == '2' %}
				    class="active"
					{% endif %}
				>价格</a>
				<a href="typelist_{{typeid}}_1_3"
					{% if sort == '3' %}
				    class="active"
					{% endif %}
				>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for g in goodList %}
				<li>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
					<h4><a href="detail.html">{{g.gtitle|slice:'10'}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{g.gprice}}</span>
						<span class="unit">￥{{g.gprice}}/{{g.gunit}}</span>
						{%if request.session.user_name|default:"" != "" %}
							<a href="javascript:" id="{{g.id}}" class="add_goods" title="加入购物车"></a>
						{% else %}
							<a href="/user/login" class="add_goods" title="加入购物车"></a>
						{%endif%}
					</div>
				</li>
				{% endfor %}

			</ul>

			<div class="pagenation">
				{% if goodList.has_previous %}
					<a href="typelist_{{typeid}}_{{goodList.previous_page_number}}_{{sort}}">上一页</a>
				{% endif %}
				{% for pindex in pindexlist %}
				{% if pindex == pageid %}
					<a href="#" class="active">{{pindex}}</a>
				{%else%}
					<a href="typelist_{{typeid}}_{{pindex}}_{{sort}}">{{pindex}}</a>
				{%endif%}
				{%endfor%}
				{% if goodList.has_next %}
					<a href="typelist_{{typeid}}_{{goodList.next_page_number}}_{{sort}}">下一页</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
